@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Anek Odia', sans-serif;
  color: white;
  background-color: black;
}

.dark-mode {
  fill: black;
  color: black;
  background-color: white;
  border-color: black;
}

.icon {
  margin: 20px;
}

.light-mode__icon {
  fill: #000;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.game {
  margin-top: 30px;
  width: 480px;
  height: 480px;
  display: flex;
  margin: auto;
}

.game-board {
  width: 100%;
  height: 100%;
}

.square {
  float: left;
  width: 32.333333%;
  height: 32.333333%;
  border-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top {
  border-bottom-style: solid;
  border-top: none;
}

.left {
  border-right-style: solid;
  border-left: none;
}

.right {
  border-left-style: solid;
  border-right: none;
}

.bot {
  border-top-style: solid;
  border-bottom: none;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin-top: 40px;
}

.tie {
  margin: 0 80px;
}

.pl-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1 {
  font-weight: 200;
}

.switch-player-svg {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  cursor: pointer;
  fill: #fff;
}

.hidden {
  display: none;
}

.square.x::before,
.square.x::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 18px;
  background-color: #fff;
}

.square.x::before {
  transform: rotate(45deg);
}

.square.x::after {
  transform: rotate(-45deg);
}

.square.o::before,
.square.o::after {
  content: '';
  position: absolute;
  border-radius: 100px;
}

.square.o::before {
  width: 110px;
  height: 110px;
  background-color: #fff;
}

.square.o::after {
  width: 80px;
  height: 80px;
  background-color: black;
}
